<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to follows_user_path(user) do %>
      <%= user.following_user.count %>
      <%end%>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to followers_user_path(user) do %>
      <%=user.follower_user.count %>
      <%end%>
    </th>
  </tr>
</table>

<div class='row'>
  <% if current_user != user %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn-sm btn-danger" %>
    <%else%>
      <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn-sm btn-success" %>
    <%end%>
  <%end%>

  <% unless user.id == current_user.id %>
  <!--現在ログインしているユーザーではない場合-->
    <% if (current_user.followed_by? user) && (user.followed_by? current_user) %>
    <!--相互フォロー状態の時という条件-->
      <% if haveRoom == true %> <!--すでにチャットルームが作成されている場合は-->
        <%= link_to "ダイレクトメッセージ", room_path %>  <!--そのチャットルームに遷移するボタンを表示-->
      <%else%>
        <%= form_with model: room, local: true do |f| %>  <!--roomsテーブルに情報を送信-->
          <%= fields_for roomuser do |r| %>               <!--room_usersテーブルに情報を送信-->

          <!--fields_forを使うことによって異なるモデル(子モデル)を編集できるようになる。-->
          <!--例：Roomモデルに紐付くRoomUserモデル-->

            <%= r.hidden_field :user_id, value: user.id %>  <!--room_usersテーブルにuser_idを含める-->
          <%end%>
          <%= f.submit "chatを始める" %>
        <%end%>
      <%end%>
    <%end%>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <%end%>

</div>